body
{
    background-color: beige;
}

h1, h2, h3, p
{
    font-family: Garamond, serif;
}

.nav-bar
{
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.nav-item
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: bisque;
}

.title-box
{
    text-align: center;
}

.recipe
{
    text-align: center;
}

.recipe-image
{
    border-radius: 10px;
}

.recipe-description-box
{
    margin-bottom: 30px;
}

.recipe-ingredients-box
{
    display: inline-block;
    justify-items: left;
}

.recipe-steps-box
{
    display: inline-block;
    justify-items: left;
}